#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF     0
#define CS1     1
#define CS2     2
#define NUM     3
#define SYM     4
#define FUN     5
#define SET     6
#define NAV     7
#define MOU     8
#define MED     9

#define MMM  &ht RCTRL &tdye

/ {
	behaviors {

		tdyo: tap_dance_yo {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_YO";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp T>, <&kp GRAVE>;
		};

		tdtz: tap_dance_tz {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_TZ";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp M>, <&kp RBKT>;
		};

		tdye: tap_dance_ye {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_YE";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp SEMI>, <&kp SQT>;
		};

		tdha: tap_dance_ha {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_HA";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp P>, <&kp LBKT>;
		};

		ht: hold_tap_kp_kp {
			label = "hold_tap";
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <220>;
			quick-tap-ms = <150>;
			global-quick-tap;
			bindings = <&kp>, <&kp>;
		};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//╭───────┬────────────┬────────────┬────────────┬────────────┬──────────────╮   ╭──────────────┬──────────────┬────────────┬────────────┬─────────────┬───────╮
//│       │ Q          │ W          │ E          │ R          │ T [Ё]        │   │ Y            │ U            │ I          │ O          │ P [Х]       │       │
    &none   &kp Q        &kp W        &kp E        &kp R        &tdyo              &kp Y          &kp U          &kp I        &kp O        &tdha         &none
//├───────┼────────────┼────────────┼────────────┼────────────┼──────────────┤   ├──────────────┼──────────────┼────────────┼────────────┼─────────────┼───────┤
//│       │ A(CTRL)    │ S(SHIFT)   │ D(ALT)     │ F(GUI)     │ G            │   │ H            │ J(GUI)       │ K(ALT)     │ L(SHIFT)   │ ; [Э](CTRL) │       │
    &none   &ht LCTRL A  &ht LSHFT S  &ht LALT D   &ht LGUI F   &kp G              &kp H          &ht RGUI J     &ht RALT K   &ht RSHFT L  &MMM          &none
//├───────┼────────────┼────────────┼────────────┼────────────┼──────────────┤   ├──────────────┼──────────────┼────────────┼────────────┼─────────────┼───────┤
//│       │ Z(MO SET)  │ X          │ C          │ V          │ B            │   │ N            │ M [Ъ]        │ ,          │ .          │ /           │       │
    &none   &lt SET Z    &kp X        &kp C        &kp V        &kp B              &kp N          &tdtz          &kp COMMA    &kp DOT      &kp FSLH      &none
//╰───────┴────────────┴────────────┼────────────┼────────────┼──────────────┤   ├──────────────┼──────────────┼────────────┼────────────┴─────────────┴───────╯
//                                  │ ESC(MO MED)│ TAB(MO MOU)│ SPACE(MO NAV)│   │ BKSP(MO NUM) │ ENTER(MO SYM)│ DEL(MO FUN)│
                                      &lt MED ESC  &lt MOU TAB  &lt NAV SPACE      &lt NUM BSPC   &lt SYM RET    &lt FUN DEL
//                                  ╰────────────┴────────────┴──────────────╯   ╰──────────────┴──────────────┴────────────╯
                        >;
                };
                cs1_layer {
                        bindings = <
//╭───────┬───────────┬────────┬────────────┬───────────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ ESC       │ 1      │ W          │ 2             │ R             │   │               │          │          │           │             │       │
    &none   &kp ESC     &kp N1   &kp W        &kp N2          &kp R               &none           &none      &none      &none       &none         &none
//├───────┼───────────┼────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ SHIFT     │ A      │ S          │ D             │ E             │   │               │          │          │           │             │       │
    &none   &kp LSHFT   &kp A    &kp S        &kp D           &kp E               &none           &none      &none      &none       &none         &none
//├───────┼───────────┼────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ CTRL      │ 3      │ 4          │ 5             │ B             │   │               │          │          │           │             │       │
    &none   &kp LCTRL   &kp N3   &kp N4       &kp N5          &kp B               &none           &none      &none      &none       &none         &none
//╰───────┴───────────┴────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                             │ K          │ TAB (MO CS2)  │ SPACE         │   │               │          │          │
                                 &kp K        &lt CS2 TAB     &kp SPACE           &none           &none      &none
//                             ╰────────────┴───────────────┴───────────────╯   ╰───────────────┴──────────┴──────────╯
                        >;
                };
                cs2_layer {
                        bindings = <
//╭───────┬──────────┬─────────┬────────────┬───────────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ 6        │ 7       │            │ 8             │ 0             │   │               │          │          │           │             │       │
    &none   &kp N6     &kp N7    &trans       &kp N8          &kp N0              &none           &none      &none      &none       &none         &none
//├───────┼──────────┼─────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │          │         │            │               │ G             │   │               │          │          │           │             │       │
    &none   &trans     &trans    &trans       &trans          &kp G               &none           &none      &none      &none       &none         &none
//├───────┼──────────┼─────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │          │ F1      │ F2         │ F3            │ F4            │   │               │          │          │           │             │       │
    &none   &mo SET    &kp F1    &kp F2       &kp F3          &kp F4              &none           &none      &none      &none       &none         &none
//╰───────┴──────────┴─────────┼────────────┼───────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                             │ F5         │               │ TAB           │   │               │          │          │
                                 &kp F5       &trans          &kp TAB             &none           &none      &none
//                             ╰────────────┴───────────────┴───────────────╯   ╰───────────────┴──────────┴──────────╯
                        >;
                };
                number_layer {
                        bindings = <
//╭───────┬─────────────┬─────────┬────────────┬────────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ +           │ 7       │ 8          │ 9          │ *             │   │               │          │          │           │             │       │
    &none   &kp PLUS      &kp N7    &kp N8       &kp N9       &kp STAR            &none           &none      &none      &none       &none         &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ -           │ 4       │ 5          │ 6          │ /             │   │               │ GUI      │ ALT      │ SHIFT     │ CTRL        │       │
    &none   &kp KP_MINUS  &kp N4    &kp N5       &kp N6       &kp KP_DIVIDE       &none           &kp RGUI   &kp RALT   &kp RSHFT   &kp RCTRL     &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ .           │ 1       │ 2          │ 3          │ =             │   │               │          │          │           │             │       │
    &none   &kp DOT       &kp N1    &kp N2       &kp N3       &kp EQUAL           &none           &none      &none      &none       &none         &none
//╰───────┴─────────────┴─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                                │ %          │ 0          │ SPACE         │   │               │          │          │
                                    &kp PRCNT    &kp N0       &kp SPACE           &none           &none      &none
//                                ╰────────────┴────────────┴───────────────╯   ╰───────────────┴──────────┴──────────╯
                        >;
                };
                symbol_layer {
                        bindings = <
//╭───────┬─────────────┬─────────┬────────────┬────────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ ?           │ !       │ |          │ &          │ '             │   │               │          │          │           │             │       │
    &none   &kp QMARK     &kp EXCL  &kp PIPE     &kp AMPS     &kp SQT             &none           &none      &none      &none       &none         &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ <           │ [       │ {          │ (          │ "             │   │               │ GUI      │ ALT      │ SHIFT     │ CTRL        │       │
    &none   &kp LT        &kp LBKT  &kp LBRC     &kp LPAR     &kp DQT             &none           &kp RGUI   &kp RALT   &kp RSHFT   &kp RCTRL     &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ >           │ ]       │ }          │ )          │ :             │   │               │          │          │           │             │       │
    &none   &kp GT        &kp RBKT  &kp RBRC     &kp RPAR     &kp COLON           &none           &none      &none      &none       &none         &none
//╰───────┴─────────────┴─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                                │ #          │ _          │ SPACE         │   │               │          │          │
                                    &kp HASH     &kp UNDER    &kp SPACE           &none           &none      &none
//                                ╰────────────┴────────────┴───────────────╯   ╰───────────────┴──────────┴──────────╯
                        >;
                };
                function_layer {
                        bindings = <
//╭───────┬─────────────┬─────────┬────────────┬────────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ F12         │ F7      │ F8         │ F9         │ $             │   │               │          │          │           │             │       │
    &none   &kp F12       &kp F7    &kp F8       &kp F9       &kp DLLR            &none           &none      &none      &none       &none         &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ F11         │ F4      │ F5         │ F6         │ @             │   │               │ GUI      │ ALT      │ SHIFT     │ CTRL        │       │
    &none   &kp F11       &kp F4    &kp F5       &kp F6       &kp AT              &none           &kp RGUI   &kp RALT   &kp RSHFT   &kp RCTRL     &none
//├───────┼─────────────┼─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ F10         │ F1      │ F2         │ F3         │ \             │   │               │          │          │           │             │       │
    &none   &kp F10       &kp F1    &kp F2       &kp F3       &kp BSLH            &none           &none      &none      &none       &none         &none
//╰───────┴─────────────┴─────────┼────────────┼────────────┼───────────────┤   ├───────────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                                │ `          │ ~          │ ^             │   │               │          │          │
                                    &kp GRAVE    &kp TILDE    &kp CARET           &none           &none      &none
//                                ╰────────────┴────────────┴───────────────╯   ╰───────────────┴──────────┴──────────╯
                        >;
                };
                settings_layer {
                        bindings = <
//╭───────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭───────────┬──────────┬──────────┬───────────┬─────────────┬───────╮
//│       │ BTCLR       │ BT3         │ BT2         │ BT1         │ BT0         │   │           │          │          │           │             │       │
    &none   &bt BT_CLR    &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0      &none       &none      &none      &none       &none         &none
//├───────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├───────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │ OUT_TOG     │             │             │             │ CS1 TOG     │   │           │          │          │           │             │       │
    &none   &out OUT_TOG  &none         &none         &none         &tog CS1          &none       &none      &none      &none       &none         &none
//├───────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├───────────┼──────────┼──────────┼───────────┼─────────────┼───────┤
//│       │             │             │             │             │             │   │           │          │          │           │             │       │
    &none   &none         &none         &none         &none         &none             &none       &none      &none      &none       &none         &none
//╰───────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├───────────┼──────────┼──────────┼───────────┴─────────────┴───────╯
//                                    │             │             │             │   │           │          │          │
                                        &none         &none         &none             &none       &none      &none
//                                    ╰─────────────┴─────────────┴─────────────╯   ╰───────────┴──────────┴──────────╯
                        >;
                };
                navigation_layer {
                        bindings = <
//╭───────┬──────────┬───────────┬──────────┬──────────┬────────╮   ╭────────────────┬──────────────┬──────────────┬──────────────┬───────────────┬───────╮
//│       │          │           │          │          │        │   │ Undo           │ Cut          │ Copy         │ Paste        │ Redo          │       │
    &none   &none      &none       &none      &none      &none        &kp LC(Z)        &kp LC(X)      &kp LC(C)      &kp LC(V)      &kp LC(Y)       &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │ CTRL     │ SHIFT     │ ALT      │ GUI      │        │   │ Pause          │ Left         │ Down         │ Up           │ Right         │       │
    &none   &kp LCTRL  &kp LSHFT   &kp LALT   &kp LGUI   &none        &kp PAUSE_BREAK  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT       &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │          │           │          │          │        │   │ PrtScr         │ HOME         │ PGDN         │ PGUP         │ END           │       │
    &none   &none      &none       &none      &none      &none        &kp PSCRN        &kp HOME      &kp PG_DN       &kp PG_UP      &kp END         &none
//╰───────┴──────────┴───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┴───────────────┴───────╯
//                               │          │          │        │   │ BKSP           │ ENTER        │ DEL          │
                                   &none      &none      &none        &kp BSPC         &kp RET        &kp DEL
//                               ╰──────────┴──────────┴────────╯   ╰────────────────┴──────────────┴──────────────╯
                        >;
                };
                mouse_layer {
                        bindings = <
//╭───────┬──────────┬───────────┬──────────┬──────────┬────────╮   ╭────────────────┬──────────────┬──────────────┬──────────────┬───────────────┬───────╮
//│       │          │           │          │          │        │   │ Undo           │ Cut          │ Copy         │ Paste        │ Redo          │       │
    &none   &none      &none       &none      &none      &none        &kp LC(Z)        &kp LC(X)      &kp LC(C)      &kp LC(V)      &kp LC(Y)       &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │ CTRL     │ SHIFT     │ ALT      │ GUI      │        │   │ ScrLock        │ MS Left      │ MS Down      │ MS Up        │ MS Right      │       │
    &none   &kp LCTRL  &kp LSHFT   &kp LALT   &kp LGUI   &none        &kp SLCK         &none          &none          &none          &none           &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │          │           │          │          │        │   │ Insert         │ SC Left      │ SC Down      │ SC Up        │ SC Right      │       │
    &none   &none      &none       &none      &none      &none        &kp INS          &none          &none          &none          &none           &none
//╰───────┴──────────┴───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┴───────────────┴───────╯
//                               │          │          │        │   │ MS_BT_Right    │ MS_BT_Left   │ MS_BT_Middle │
                                   &none      &none      &none        &mkp RCLK        &mkp LCLK      &mkp MCLK
//                               ╰──────────┴──────────┴────────╯   ╰────────────────┴──────────────┴──────────────╯
                        >;
                };
                media_layer {
                        bindings = <
//╭───────┬──────────┬───────────┬──────────┬──────────┬────────╮   ╭────────────────┬──────────────┬──────────────┬──────────────┬───────────────┬───────╮
//│       │          │           │          │          │        │   │                │              │              │ Volume Up    │ Skip Forward  │       │
    &none   &none      &none       &none      &none      &none        &none            &none          &none          &kp C_VOL_UP   &kp C_NEXT      &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │ CTRL     │ SHIFT     │ ALT      │ GUI      │        │   │                │              │              │ Mute         │ Play Paus     │       │
    &none   &kp LCTRL  &kp LSHFT   &kp LALT   &kp LGUI   &none        &none            &none          &none          &kp C_MUTE     &kp C_PP        &none
//├───────┼──────────┼───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┼───────────────┼───────┤
//│       │          │           │          │          │        │   │                │              │              │ Volume Down  │ Skip Back     │       │
    &none   &none      &none       &none      &none      &none        &none            &none          &none          &kp C_VOL_DN   &kp C_PREV      &none
//╰───────┴──────────┴───────────┼──────────┼──────────┼────────┤   ├────────────────┼──────────────┼──────────────┼──────────────┴───────────────┴───────╯
//                               │          │          │        │   │                │              │              │
                                   &none      &none      &none        &none            &none          &none
//                               ╰──────────┴──────────┴────────╯   ╰────────────────┴──────────────┴──────────────╯
                        >;
                };
        };
};
